<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    <style type="text/css">

        html,
        body,
        #container {
            width: 100%;
            height: 300px;
            margin: 0;
            padding: 0;
        }
    </style>
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Оптимальный состав многокомпонентной шихты", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Рачёт", "Index", "Home")</li>
                    <li>@Html.ActionLink("Информация", "About", "Home")</li>
                    <li>@Html.ActionLink("Связаться", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - мое приложение ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-base.min.js" type="text/javascript"></script>
    <script>
        anychart.onDocumentLoad(function () {
            // create an instance of a pie chart
            chart = anychart.pie();
            // set the data
            chart.data([
                ["Чугун литейный", parseFloat(document.getElementById("chugLit_Fakt").value)],
                ["Чугун передельный", parseFloat(document.getElementById("chugPer_Fakt").value)],
                ["Чугун зеркальный", parseFloat(document.getElementById("chugZer_Fakt").value)],
                ["Лом чугунный", parseFloat(document.getElementById("lomChug_Fakt").value)],
                ["Лом стальной", parseFloat(document.getElementById("lomSta_Fakt").value)],
                ["Возврат", parseFloat(document.getElementById("vozr_Fakt").value)],
                ["Ферросилиций 45%", parseFloat(document.getElementById("ferr_Fakt").value)]
            ]);
            // set chart title
            chart.title("Содержание компонентов в шихте, %").radius('43%').innerRadius('30%');

            // set the container element
            chart.container("container");
            // initiate chart display
            chart.draw();
        });</script>
</body>
</html>
